---
---

/* Ensure header exists */
header.masthead {
  position: relative;
  overflow: hidden;
}

/* Slideshow layer */
header.masthead::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  animation: headerSlideshow 18s infinite;
  z-index: 0;
}

/* Keep text above slideshow */
header.masthead .container {
  position: relative;
  z-index: 1;
}

@keyframes headerSlideshow {
  0% {
    background-image: url("../img/Headers/Header1.gif");
  }
  33% {
    background-image: url("../img/Headers/Header2.png");
  }
  66% {
    background-image: url("../img/Headers/Header3.png");
  }
  100% {
    background-image: url("../img/Headers/Header1.gif");
  }
}